* {
    box-sizing: border-box;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: minmax(0px, 104px) repeat(2, minmax(0, 496px)) minmax(0px, 104px);
    justify-content: center;
    background-color: #ffffff;    
  }
  
  
  .grid-item-1 {
    background-color: rgba(64, 64, 64, 0.3);
    text-align: center;
    border: 1px solid #ccc;
    padding: 50px;
  }

  .grid-item-2 {
    background-color: rgba(186, 25, 25, 0.3);
    text-align: center;
    border: 1px solid #ccc;
    padding: 50px;
  }

  .grid-item-3 {
    background-color: rgba(27, 155, 121, 0.3);
    text-align: center;
    border: 1px solid #ccc;
    padding: 50px;
  }

  .grid-item-4 {
    background-color: rgba(168, 194, 38, 0.3);
    text-align: center;
    border: 1px solid #ccc;
    padding: 50px;
  }

  .grid-item-5 {
    background-color: rgba(230, 63, 199, 0.3);
    text-align: center;
    border: 1px solid #ccc;
    padding: 50px;
  }