* {
    box-sizing: border-box;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: minmax(0px, 104px) repeat(2, minmax(0, 496px)) minmax(0px, 104px);
    justify-content: center;
    background-color: #ffffff;    
  }
  
  
  .grid-item-1 {
    background-color: #fdfdfd;
    text-align: center;
    border: 1px solid #ccc;
    padding: 25px;
  }

  .grid-item-2 {
    background-color: rgba(117, 15, 176, 0.3);
    text-align: center;
    border: 1px solid #ccc;
    padding: 25px;
  }

  .grid-item-3 {
    background-color: rgba(94, 100, 214, 0.3);
    text-align: center;
    border: 1px solid #ccc;
    padding: 25px;
  }

  .grid-item-4 {
    background-color: rgba(224, 79, 79, 0.3);
    text-align: center;
    border: 1px solid #ccc;
    padding: 25px;
  }

  .grid-item-5 {
    background-color: rgba(156, 215, 97, 0.3);
    text-align: center;
    border: 1px solid #ccc;
    padding: 25px;
  }